<label for="answerName">Title</label>
<textarea name="answerName" id="answerName" cols="30" rows="1">{{currentAnswer.attributes.title}}</textarea>
<label for="answerOriginal">Original</label>
<textarea name="answerOriginal" id="answerOriginal" cols="30" rows="3">{{currentAnswer.attributes.original}}</textarea>
<label for="answerTranslation">Translation</label>
<textarea name="answerTranslation" id="answerTranslation" cols="30" rows="3">{{currentAnswer.attributes.translation}}</textarea>
<label for="answerSourceName">Source name</label>
<textarea name="answerSourceName" id="answerSourceName" cols="30" rows="1">{{currentAnswer.attributes.sourceName}}</textarea>
<label for="answerSource">Source</label>
<textarea name="answerSource" id="answerSource" cols="30" rows="1">{{currentAnswer.attributes.source}}</textarea>
