{{#if currentAnswer}}
  {{#with currentAnswer.attributes}}
  <label for="answerName">Title</label>
  <div id="answerName">{{title}}</div>
  <label for="answerOriginal">Original</label>
  <div id="answerOriginal">{{original}}</div>
  <label for="answerTranslation">Translation</label>
  <div id="answerTranslation">{{translation}}</div>
  <label for="answerSourceName">Source name</label>
  <div id="answerSourceName">{{sourceName}}</div>
  <label for="answerSource">Source</label>
  <div id="answerSource">{{source}}</div>
  {{/with}}
{{else}}
  This answer doesn't exist
{{/if}}
